* {
    padding: 0;
    margin: 0;
  
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  main {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .loadingIndicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .text-loading {
    background-color: lightgreen;
    padding: 10px;
    color: black;
    width: 50%;
    text-align: center;
    font-weight: bold;
  }
  